body {
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo-container {
    width: 50px; /* Reduced size of the logo container */
    height: 50px; /* Reduced size of the logo container */
    

}
    .logo {
        width: 100%;
        height: 100%;
      }
.h1 {
  font-size: 1.5em;
  margin: 10;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#banner {
    background-color: #66c2a5;
    padding: 50px;
    text-align: center;
}

#banner h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

#banner p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s;
}

.button:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

#about {
    background-color: #fc8d62;
    padding: 50px;
    text-align: center;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

#about p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

#courses {
    background-color: #8da0cb;
    padding: 50px;
    text-align: center;
}

#courses h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

#courses p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

#tutors {
    background-color: #e78ac3;
    padding: 50px;
    text-align: center;
}

#tutors h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

#tutors p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 18px;
    margin: 0;
}
