

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Gulzar&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Prism&display=swap');
body {

 
  
  
  
font-family: 'Tilt Prism',sans-serif;
    background: url(https://theenglishclub.s3.us-west-2.amazonaws.com/outside1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color:black;
    font-weight:800;
    font-size:  20px; 
}

header {
    background-color: orange;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height:50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
}
.logo-container {
    width: 50px; /* Reduced size of the logo container */
    height: 50px; /* Reduced size of the logo container */
    

}
.logo-container:hover .logo {
  transform: scale(1.7) ; /* Enlarge the logo by 20% */
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: orange;
  color: #fff;
  padding: 0px;
  z-index: 1;
  height: 40px; /* Set z-index to ensure nav is above other elements */
}


    .logo {
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
      }
    



.h1 {
  font-size: 1.5em;
  margin: 10;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-weight:900;
  
}

#banner {
    background-color: transparent;
    padding: 50px;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
   
   
    
    
}


#banner:hover{
    background-color: green;
}

#banner h2 {
    font-size: 1.2em;
    margin-top:200px;
    padding: 0 10px;
    color: #fff;
    font-weight: 600;

}

#banner p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.button {
  display: inline-block !important;
  background-color: #741414 !important;
  color: #baba15 !important;
  padding: 10px 20px !important;
  border-radius: 30px !important;
  text-decoration: none !important;
  font-weight: bold !important;
  font-size: 18px !important;
  transition: all 0.3s !important;
}

.social-icons a {
  color: antiquewhite;
  font-size: 50px;
  padding-right: 30px;

}
.social-icons a:hover {
  color: blue; /* set hover color here */
}

.fa-brands{
  color: antiquewhite;
  font-size: 30px;
  padding-right: 30px;

}
.fa-brands:hover{
  color: blue;
}
.button:hover {
    background-color: brown;
    color: #000;
    border: 2px solid #000;
}


#about {
    background-color: transparent;
    padding: 50px;
    text-align: center;
    transition: background-color 0.5s ease-in-out
}

#about:hover {
    background-color: goldenrod;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

#about p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

#courses {
    background-color:transparent;
    padding: 50px;
    text-align: center;
    transition: background-color 0.5s ease-in-out
}
#courses:hover{
  background-color: blue;
}
#courses h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

#courses p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}


#tutors {
    background-color: transparent;
    padding: 50px;
    text-align: center;
    transition: background-color 0.5s ease-in-out
}
#tutors:hover{
  background-color: darkblue;
  transition:  0.5s ease-in-out
}

#tutors h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

#tutors p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}
.footer{
  background-color: black;
  color: antiquewhite;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-title{
  font-size: 1.3em;
  font-weight: 600;

}
.footer-title .span{
  color: aqua;
}
.footer .social-icons a{
  font-size: 1.3em;
  padding: 0 12px 0 0;

  
}
.fa-brands{
  color: antiquewhite;
  font-size: 30px;
  padding-right: 30px;

}

 


@media screen and (max-width: 768px) {
  /* Styles for smaller screens */
  .body {
    font-family: 'Tilt Prism';}
  .header {
    height: 200px;
    padding: 20px;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav-item {
    margin: 10px 0;
  }
  .cta {
    margin-top: 70px;
  }
  .main {
    padding: 20px;
  }
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .body {
    font-family: 'Tilt Prism';
  }
}