body {
    background: url(images/outside1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: orange;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
}
.logo-container {
    width: 50px; /* Reduced size of the logo container */
    height: 50px; /* Reduced size of the logo container */
    

}
.logo-container:hover .logo {
  transform: scale(1.7) ; /* Enlarge the logo by 20% */
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: orange;
  color: #fff;
  padding: 0px;
  z-index: 1;
  height: 30px; /* Set z-index to ensure nav is above other elements */
}


    .logo {
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
      }
.h1 {
  font-size: 1.5em;
  margin: 10;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#banner {
    background-color: transparent;
    padding: 50px;
    text-align: center;
    transition: background-color 0.5s ease-in-out
    
}
#banner:hover{
    background-color: green;
}

#banner h2 {
    font-size: 1.2em;
    margin:0;
    padding: 0 10px;
    color: #fff;
}

#banner p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s;
}

.button:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}


#about {
    background-color: #fc8d62;
    padding: 50px;
    text-align: center;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

#about p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

#courses {
    background-color: #8da0cb;
    padding: 50px;
    text-align: center;
}

#courses h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

#courses p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

#tutors {
    background-color: #e78ac3;
    padding: 50px;
    text-align: center;
}

#tutors h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

#tutors p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}
.footer{
  background-color: black;
  color: antiquewhite;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-title{
  font-size: 1.3em;
  font-weight: 600;

}
.footer-title .span{
  color: aqua;
}
.footer .social-icons a{
  font-size: 1.3em;
  padding: 0 12px 0 0;
  
}
@media screen and (max-width: 768px) {
  /* Styles for smaller screens */
  .header {
    height: 100px;
    padding: 20px;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav-item {
    margin: 10px 0;
  }
  .cta {
    margin-top: 20px;
  }
  .main {
    padding: 20px;
  }
  .card {
    width: 100%;
  }
}
